<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width = device-width,initial-scale=1.0">
    <title> gym app</title>

</head>

<body>
    <h1>My gym app</h1>
    <p>early workings of the app</p>

    <hr>
    <h3> log a new workouts</h3>
    <form action = "/" method = "POST">
        <label for = "workout_name">Workout Name:</label>
        <input type = "text" id = "workout_name" name = "workout_name" required placeholder="eg squats">

        <label for = "weight">Weight KG:</label>
        <input type ="number" id = "weight" name = "weight" required placeholder="eg 96">
       
        <button type = "submit">Add Workout</button>



    </form>
    <h3> workouts logged</h3>
    <ul>
        {%for w in savedworkout%}
            <li>
                {{w.name}} - {{w.weight}}Kg
                <a href = "/delete/{{w.id}}" style = "color: red; margin-left: 10px;">[DELETE]</a>
            </li>
        {% endfor %}


    </ul>





</body>












</html>